@font-face {
  font-family: 'Satoshi';
  src: url('./Satoshi-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Faktum';
  src: url('./FaktumTest-ConRegular.woff') format('woff');
}

/* Global Styles */
* {
  box-sizing:border-box
}

body {
  background-color: #f9f9f7;
  overflow: scroll;
  font-family: 'Satoshi';
  color: #2c2c2c;
}

h1 { font-size: 1.8em!important; }
h2 { font-size: 1.6em!important; }
h3 { font-size: 1.4em!important; }
h4 { font-size: 1.2em!important; }
p, input, button { font-size: .8em!important; }

input {
  border: none;
  outline: none;
  border-bottom: 1px solid #2c2c2c;
  background-color: transparent;
  max-width: 100%;
}

input:focus-visible {
  outline: none;
}

a {
  color: #2c2c2c;
  text-decoration: none;
}

button {
  color: #2c2c2c;
  background-color: white;
  border-radius: 4em!important;
  border: 1px solid rgb(244, 244, 244);
  padding: .8em;
}

.showcase-container {
  margin: 2em;
}

.react-resizable-handle {
  display: none;
}

.grid-container {
  max-width: 950px;
}

.react-grid-layout{
  position:relative;
  transition: height .2s ease;
}

.react-grid-item{
  transition:all .2s ease;
  transition-property: left, top;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.react-resizable{
  position:relative
}

.react-grid-placeholder{
  background:rgb(181, 201, 222)!important;
  opacity:.2;
  transition-duration: 1s;
  z-index:2;
}

@media only screen and (max-width: 730px) {

  h1 { font-size: 1.5em!important; }
  h2 { font-size: 1.4em!important; }
  h3 { font-size: 1.3em!important; }
  h4 { font-size: 1.2em!important; }
  p { font-size: .8em!important; }

  .grid-container {
    max-width: 380px;
    min-width: 350px;
  }
}
