body {
    width: 100vw;
    height: 100vh;
    background: #cbdce7;
    margin: auto 0;
    /* overflow: hidden; */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    color: black;
}

.map-container {
    width: 202px;
    border-radius: 10px;
    height: 202px;
    overflow: hidden;
}

.area {
    width: calc(100% - 80px);
    height: calc(100vh - 80px);
    position: absolute;
    left: 40px;
    top: 40px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    place-items: center;
    place-content: center;
    cursor:auto;
    flex-wrap: wrap;
}

.box-tall {
    cursor: grab;
    width: 200px;
    height: 400px;
    background-color: #99D0FF;
    border-radius: 10px;
    margin: .5em;
    box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.08);
}

.box-wide {
    cursor: grab;
    width: 400px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: .5em;
    box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.08);
}

.box-square {
    cursor: grab;
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    margin: .5em;
    box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.);
}

.v-1 {
    background-color: #BDCCFF;
}

.v-2 {
    background-color: #61DABF;
}

.v-3 {
    background-color: #FFF1AD;
}

p {
    padding: 1.2em;
}