/* Imports and Externals */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');

@font-face {
  font-family: 'Product Sans';
  src: url('./Product\ Sans\ Regular.woff') format('woff2');
}

/* Global Styles */
* {
  box-sizing:border-box
}

body {
  background-color: #F5F4F3;
  overflow: scroll;
  font-family: 'Product Sans'!important;
  color: #2c2c2c!important;
}
h1 { font-size: 2em!important; }
h2 { font-size: 1.8em!important; }
h3 { font-size: 1.6em!important; }
h4 { font-size: 1.4em!important; }
p { font-size: .9em!important; }
input {
  border: none;
  outline: none;
  border-bottom: 1px solid rgb(176, 176, 176);
  max-width: 100%;
  font-size: .7em!important;
}

input:focus-visible {
  outline: none;
}

button {
  font-size: .7em!important;
  background-color: white;
  border-radius: 4em!important;
  border: 1px solid rgb(244, 244, 244);
  padding: .5em;
  color: #2c2c2c!important;
}

.header {
  padding: 5em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header img {
  width: 150px;
  height: auto;
}
.showcase-container {
  max-width: 950px;
}

/* Widget Beginning */

/* Bio Widget */
.widget-bio {
  flex-flow: row wrap;
  align-content: center;
  justify-content: center;
  padding: 1em;
}

.widget-bio-memoji {
  max-width: 90%;
  height: auto;
}

.widget-bio-p {
 padding-top: 10px;
 flex-wrap: wrap; 
 width: 100%;
}


/* Map Widget */
.map-widget-overlay {
  position: absolute; /* or absolute */
  top: 25%;
  left: 25%;
}

.hover-map {
  width:70%;
  top: 25%;
  left: 25%;
}

.memoji-map {
  width: 50%;
  top: 10%;
  left: 10%;
  position: absolute;
}

.memoji-map:hover { 
  animation: pulse 1s infinite;
  animation-timing-function: linear;   
}

.map-container {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}


/* Spotify Widget */
.spotify-widget {
  height: 100%;
  padding: 1em;
}

.spotify-widget img {
  max-width: 25%;
  height: auto;
}

.shadowloader span {
    display:block;
    float:right;
    border-radius:3px;
    width:0.5em;
    height:1.2em;
    margin:0 0.3em 0 0;
    background:#63DBBE;
}

/* Link Widget */
.link-widget {
  height: 100%;
  width: 100%;
}

.link-widget-img {
  max-width: 45%;
  height: auto;
  position: absolute;
  top: 65px;
  left: 60px;  
}

.ttt-widget {
  width: 100%;
  height: 100%;
  background-color: #98D0FF;
}

.ttt-widget img {
  /* height: 100%; */
  width: 100%;
}

.playground-widget {
  height: 100%;
  width: 100%;
  background-color: #6ED1B7;
}

.playground-widget img{
  height: 100%;
  width: 100%;
}

.digiseum-widget {
  height: 100%;
  width: 100%;
  background-color: #FFF1AD;
}

.digiseum-widget img{
  height: 100%;
  width: 110%;
}

/* Grid Layout */
.react-grid-layout{
  position:relative;
  transition: height .2s ease;
}

.react-grid-item{
  transition:all .2s ease;
  transition-property: left, top;
  background: rgb(255, 255, 255);
  border-radius: 2.5em;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.react-grid-item img{
  pointer-events:none;
  -webkit-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.react-resizable{
  position:relative
}

.react-grid-placeholder{
  background:rgb(181, 201, 222);
  opacity:.2;
  transition-duration: 1s;
  z-index:2;
  -webkit-user-select:none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}

.react-grid-item .resizing {
  opacity: 0.9;
  will-change: width, height;
}

.react-grid-item .react-resizable-handle:after{
  content:"";
  position:absolute;
  right:3px;
  bottom:3px;
  width:5px;
  height:5px;
}

.react-resizable-handle{
  display:none;
}

.react-grid-item .static {
  background: #cce;
}

.react-grid-item .text {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

/* .react-grid-item .minMax {
  font-size: 12px;
} */

.react-grid-dragHandleExample {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.react-grid-item .react-grid-placeholder  {
  opacity: 0.5;
  transition: all .2s ease;
  transition-property: left,top;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* .grid-container {
  padding: 0.5em;
  height: 50px;
  background-color: #e3e3e378;
  border-radius: 60px 60px 0px 0px;
} */

.mapboxgl-ctrl-bottom-left {
    display: none!important
}

@keyframes pulse {
  from { transform: scale(1); }
  50% { transform: scale(0.85); }
  to { transform: scale(1); }
}

@keyframes playing {
    0% {
        height: 3px
    }
    50% {
        height: 12px
    }
    to {
        height: 3px
    }
}


@media only screen and (max-width: 650px) {

.link-widget img {
  top: 2.7em;
  left: 3em;  
}

h1 { font-size: 1.5em!important; }
h2 { font-size: 1.4em!important; }
h3 { font-size: 1.3em!important; }
h4 { font-size: 1.2em!important; }
p { font-size: .8em!important; }

.showcase-container {
  max-width: 380px;
  min-width: 350px;
}

.map-widget-overlay {
  position: absolute; /* or absolute */
  top: 18%;
  left: 33%;
}

.hover-map {
  width:50%;
}

.memoji-map {
  width: 35%;
  top: 10%;
  left: 7%;
  position: absolute;
}

.map-container {
    width: 100vw;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}
.react-grid-item{
  border-radius: 30px;
}
.spotify-widget p {
  font-size: 10px;
  line-height: 0;
}
.spotify-widget h3 {
  font-size: 12px;
  line-height: 0px;
}
}
